/*
 * Paste this at the end of: documentation/styles/jsdoc-default.css
 */
@media only screen and (prefers-color-scheme: dark) {
    html, body, th, .name code, .source code {
        background-color: black;
        color: white;
    }
    section, h4 {
        background-color: #111;
        color: white;
    }
    nav ul a {
        color: #def;
    }
    nav ul a:visited {
        color: #89a;
    }
    .prettyprint.linenums li {
        color: #ccc;
    }
    .kwd {
        color: #af7bd1;
    }
    .pln {
        color: #bcd;
    }
    .pun {
        color: #777;
    }
    .str {
        color: #98b422;
    }
}
