body {
    font-family: sans-serif;
    color: black;
}

body, table caption {
    background-color: white;
}

a {
    color: #005;
}

a:visited {
    color: #505;
}

main, form, table {
    background-color: #f5f5ff;
    max-width: 51rem;
    margin: 0 auto 0.5rem;
    padding: 0;
}

main, form {
    border-radius: 1rem;
    padding: 1rem;
}

h1 {
    padding: 0;
    margin: 0 0 0.5rem;
}

h1 img {
    float: right;
    margin: -2px 1px 0 0;
}

p {
    margin: 0.5rem 0 0;
}

form {
    display: grid;
    gap: 1rem;

    @media (width >= 720px) {
        grid-template-columns: 1fr 1fr;
    }
}

.form-group {
    display: grid;
    gap: 0.25lh;
}

button, input, select {
    background-color: white;
    color: black;
    border: 2px solid #7f7f7f;
    border-radius: 0.3rem;
    font: inherit;
}

input::selection {
    background-color: #bdf;
    color: black;
}

button, select {
    height: 1.5rem;
}

[type=reset] {
    justify-self: end;
}

table {
    display: block;
    border-collapse: collapse;
    max-width: fit-content;
    overflow-x: scroll;
}

table caption {
    font-weight: bold;
    padding: 0.25rem;
    text-align: left;
    white-space: nowrap;
}

thead th {
    background-color: #e5e5f5;
    position: sticky;
    text-align: left;
    top: 0;
    z-index: 10;
}

th, td {
    border: 1px solid #7f7f7f;
    padding: 0.5rem;
    vertical-align: top;
}

td ul {
    margin: 0;
    padding-left: 1rem;
}

td.num {
    text-align: right;
}

button:hover,
select:hover,
tr:hover {
    background-color: #ececfc;
}

#not-found main {
    max-width: 26rem;
}

#not-found h1 {
    text-align: center;
}

#not-found img {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -350px;
    margin-left: -700px;
    z-index: -1;
}

.fine-print {
    font-size: 80%;
}

@media only screen and (prefers-color-scheme: dark) {
    body, table caption {
        background-color: black;
        color: white;
    }

    a {
        color: #aaf;
    }

    a:visited {
        color: #faf;
    }

    main, form, table {
        background-color: #223;
    }

    table {
        scrollbar-color: #7f7f7f black;
    }

    thead th {
        background-color: #001;
    }

    button, input, select {
        background-color: black;
        color: white;
    }

    input::selection {
        background-color: royalblue;
        color: white;
    }

    button:hover,
    select:hover,
    tr:hover {
        background-color: #112;
    }
}
