body {
    font-family: sans-serif;
    background: #eee;
    color: black;
}

a {
    color: #005;
}

a:visited {
    color: #505;
}

main, form {
    background: white;
    max-width: 51rem;
    margin: auto;
    padding: 1rem;
}

h1 {
    margin: 0;
}

fieldset {
    border: none;
}

table, thead th, th, td {
    border: 1px solid #7f7f7f;
}

table {
    border-collapse: collapse;
    margin: 1rem auto;
}

table caption {
    white-space: nowrap;
}

th {
    padding: 0.5rem;
    text-align: left;
    vertical-align: top;
}

thead th {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

td {
    padding: 0.5rem;
    vertical-align: top;
}

td ul {
    margin: 0;
    padding-left: 1rem;
}

td.num {
    text-align: right;
}

tr:hover {
    background-color: #ececec;
}

#not-found main {
    max-width: 26rem;
}

#not-found h1 {
    text-align: center;
}

#not-found img {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -350px;
    margin-left: -700px;
    z-index: -1;
}

@media only screen and (prefers-color-scheme: dark) {
    body {
        background-color: #111;
        color: white;
    }

    a {
        color: #aaf;
    }

    a:visited {
        color: #faf;
    }

    main, div, form, p, table, thead th {
        background-color: black;
    }

    tr:hover {
        background-color: #131313;
    }
}
